<%- include('../common/head'); %>
        <div class="container">
            <form class="form-group" action="/wshop/admin/product" method="post" enctype="multipart/form-data">
                <div>
                    <label>제품명</label>
                    <input type="text" class="form-control" name="prodName"
                           <% if(isData.product != null) {%>
                            value="<%= isData.product.name%>"
                            <% }%>
                           placeholder="제품명을 입력하세요">
                </div>
                <div>
                    <label>가격</label>
                    <input type="text" class="form-control" name="prodPrice"
                            <% if(isData.product != null) {%>
                                value="<%= isData.product.price%>"
                            <% }%>
                           placeholder="제품가격을 입력하세요">
                </div>
                <div>
                    <label>입고수량</label>
                    <input type="text" class="form-control" name="prodStock"
                            <% if(isData.product != null) {%>
                           value="<%= isData.product.stock%>"
                            <% }%>
                           placeholder="입고수량을 입력하세요">
                </div>
                <div>
                    <label>상품위치</label>
                    <select name="prodPosition">
                        <% for(var i=0; i < isData.position.length; i++){%>
                        <option value="<%= isData.position[i]['codeIndex']%>"><%= isData.position[i]['codeText']%></option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label>제품분류</label>
                    <select name="prodCategory">
                        <% for(var i=0; i < isData.category.length; i++){%>
                            <option value="<%= isData.category[i]['codeIndex']%>"><%= isData.category[i]['codeText']%></option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label >이미지 업로드</label>
                    <% if(isData.product != null) {%>
                    <img src="<%= isData.product.img%>" alt="">
                    <% }%>
                    <input type="file" name="prodImg">
                    <p class="help-block">이미지 파일만 업로드 가능</p>
                </div>
                <button type="submit" class="btn btn-default">제출</button>
            </form>
        </div>
    </body>
</html>